<!-- Page content -->
<div class="w3-content" style="max-width:1100px">

    <!-- About Section -->
    <div class="w3-row w3-padding-64" id="about">
        <div class="w3-col m6 w3-padding-large w3-hide-small">
            <img src="/img/About/abtom.jpg" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750">
        </div>

        <div class="w3-col m6 w3-padding-large">
            <h1 class="w3-center">About Catering</h1><br>
            <h5 class="w3-center">Tradition since 1889</h5>
            <p class="w3-large">Hải sản tươi được thành lập năm 2024 với nhu cầu cao với khách hàng đối với hải sản <span class="w3-tag w3-light-grey">seasonal</span> ingredients.</p>
            <p class="w3-large w3-text-grey w3-hide-medium">Hải sản được lấy trong nước và nhập khẩu đảm bảo độ tươi ngon nhất khi đến tay khách hàng.</p>
        </div>
    </div>

    <hr>

    <!-- Menu Section -->
    <div class="w3-row w3-padding-64" id="menu">
        <div class="w3-col l6 w3-padding-large">
            <h1 class="w3-center">Hải Sản Bán Chạy</h1><br>
            <h4>Bread Basket</h4>
            <p class="w3-text-grey">Assortment of fresh baked fruit breads and muffins 5.50</p><br>

            <h4>Honey Almond Granola with Fruits</h4>
            <p class="w3-text-grey">Natural cereal of honey toasted oats, raisins, almonds and dates 7.00</p><br>

            <h4>Belgian Waffle</h4>
            <p class="w3-text-grey">Vanilla flavored batter with malted flour 7.50</p><br>

            <h4>Scrambled eggs</h4>
            <p class="w3-text-grey">Scrambled eggs, roasted red pepper and garlic, with green onions 7.50</p><br>

            <h4>Blueberry Pancakes</h4>
            <p class="w3-text-grey">With syrup, butter and lots of berries 8.50</p>
        </div>

        <div class="w3-col l6 w3-padding-large">
            <img src="/img/About/abcahoi.jpg" class="w3-round w3-image w3-opacity-min" alt="Menu" style="width:100%">
        </div>
    </div>

    <hr>

    <!-- Contact Section -->
    <div class="w3-container w3-padding-64" id="contact">
        <h1>Đóng góp</h1><br>
        <p>Những ý kiến đóng ghóp của các bạn là động lực để chúng tôi phát triển.</p>
        <p class="w3-text-blue-grey w3-large"><b>Hồ Chí Minh</b></p>
        <p>Email: 123@gmail.com</p>
        <form action="/Home/About" target="_blank">
            <p><input class="w3-input w3-padding-16" type="text" placeholder="Name" required name="Tên"></p>
            <p><input class="w3-input w3-padding-16" type="text" placeholder="Name" required name="Số Điện Thoại"></p>
            <p><input class="w3-input w3-padding-16" type="text" placeholder="Đóng ghóp ý kiến" required name="Message"></p>
            <p><button class="w3-button w3-light-grey w3-section" type="submit">GỬI</button></p>
        </form>
    </div>

    <!-- End page content -->
</div>
