@model BanHaiSan.ViewModel.createUS

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form in HTML and CSS | Codehal</title>
    <link href="~/css/login/style.css" rel="stylesheet" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div class="wrapper">
        <h1>LOGIN</h1>
        <form asp-controller="Login" asp-action="CreateUsers" method="post">
            <input type="text" asp-for="tentaikhoan" placeholder="Tên Đăng Nhập">
            <input type="password" asp-for="matkhau" class="password" placeholder="Mật Khẩu">
            <input type="password" class="password" placeholder="Nhập Lại Mật Khẩu">
            <input type="text" asp-for="tennguoidung" placeholder="Họ Tên Người Dùng">
            <input type="text" asp-for="sdt" name="" id="" placeholder="Sđt">
            <input type="text" asp-for="email" name="" id="" placeholder="email">
            <div class="terms">
                <input type="checkbox" name="" id="showPassword" onchange="togglePassword()">
                <label for="showPassword">Hiện Mật Khẩu</label>
            </div>
            <button>Đăng Kí</button>
            <div class="member">
                Bạn đã có tài khoản?
                <a href="/Login">Đăng Nhập</a>
            </div>
        </form>
        
    </div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    function togglePassword() {
        var passwordFields = document.querySelectorAll(".password");

        passwordFields.forEach(function (field) {
            if (field.type === "password") {
                field.type = "text";
            } else {
                field.type = "password";
            }
        });
    }
</script>
</html>
