@model BanHaiSan.ViewModel.UsersVM

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form in HTML and CSS | Codehal</title>
    <link href="~/css/login/style.css" rel="stylesheet" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div class="wrapper">
        <h1>LOGIN</h1>
        <div class="error-message">
            <p style="color:red">Tên đăng nhập hoặc mật khẩu không đúng. Vui lòng thử lại.</p>
        </div>
        <form asp-controller="Login" asp-action="Authenticate" method="post">
            <input type="text" asp-for="tentaikhoan" placeholder="Tên Đăng Nhập">
            <input type="password" asp-for="matkhau" placeholder="Mật Khẩu">
            <div class="terms">
                <input type="checkbox" name="" id="checkbox">
                <label for="">I agree</label>
            </div>
            <button>Đăng Nhập</button>
        </form>


        <div class="member">
            Bạn chưa có tài khoản?
            <a href="/Login/CreateUser">Đăng Kí</a>
        </div>
    </div>

</body>

</html>
